AUTH_SERVICE_HOST=localhost
AUTH_SERVICE_PORT=50051

CART_SERVICE_HOST=localhost
CART_SERVICE_PORT=50052

PRODUCT_SERVICE_HOST=localhost
PRODUCT_SERVICE_PORT=50053

MONGODB_URI=mongodb://localhost:27017
MONGODB_NAME=tech-shop

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=tech-shop
POSTGRES_SSL_MODE=disable

ELASTICSEARCH_URL=localhost:9200

REDIS_HOST=localhost:6379
REDIS_DB=0
